@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');


$family-sans-serif: 'Open Sans', sans-serif;

$blue: hsl(217, 71%, 80%);
$purple: hsl(270, 100%, 80%);
$orange: hsl(24, 100%, 80%);
$red: hsl(0, 100%, 80%);
$green: hsl(120, 60%, 50%); 


$dark-blue: hsl(217, 71%, 53%);

$primary: $dark-blue;
$warning: $orange;
@import "~bulma/bulma.sass"

.has-background-blue
    background-color: $blue

.has-background-purple
    background-color: $purple

.has-background-orange
    background-color: $orange

.has-background-red
    background-color: $red

.has-background-green
    background-color: $green

.has-header-image-background
    background-image: url('../images/Gawler-Childcare-Header-Image.webp');

.is-topbar
    height : 2rem;


.menu-is-fullwidth 
    display: flex;
    justify-content: space-between;
    width: 95%;
    

h1
    font-family: 'Dosis', sans-serif;

.has-shadow
    box-shadow: 0 2px 0 0 #f5f5f5;

.has-rounded-corners
    border-radius: 1rem;


.navbar-item img
    max-height: 3.75rem;
